package components


import "github.com/Norrun/feedmixer/internal/display"

templ Posts(feeditems []display.Item) {
	@Base("MainList") {
		<div class="search">
			<input
				type="search"
				name="search"
				hx-get="/hx/search"
				hx-trigger="keyup changed delay:1s"
				hx-target="#feed-item-list"
				hx-swap="outerHTML"
			/>
		</div>
		//@ListItems(feeditems)

	}
}
